{
    "openapi": "3.0.3",
    "info": {
        "title": "jiffyscan APIs",
        "version": "1.0",
        "description": "Gives a breif overview of all the jiffyscan APIs",
        "contact": {
            "email": "aditya@jiffyscan.xyz",
            "name": "Aditya",
            "url": "https://jiffyscan.xyz"
        }
    },
    "tags": [
        {
            "name": "Supported Networks",
            "description": "APIs for fetching supported network information"
        },        
        {
            "name": "User Operations",
            "description": "API's which can be used to fetch user operations done by entities"
        },
        {
            "name": "Bundler",
            "description": "API's which can be used to fetch bundler related information"
        },
        {
            "name": "Account",
            "description": "API's which can be used to fetch account related information"
        },
        {
            "name": "Factory",
            "description": "API's which can be used to fetch factory related information"
        },
        {
            "name": "Metrics",
            "description": "API's which can be used to fetch over all metrics of the ecosystem"
        }
    ],
    "servers": [
        {
            "url": "https://api.jiffyscan.xyz/v0"
            
        }
    ],
    "paths": {
        "/getNetworks": {
            "get": {
                "tags": ["Supported Networks"],
                "description": "Retrieves a list of supported networks along with their chain IDs.",
                "operationId": "getNetworks",
                "security": [
                    {
                        "BasicAuth": ["TestApiKeyOnlyUseDashboardForProd"]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of supported network keys mapped from their chain IDs",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "string"
                                    },
                                    "example": {
                                        "1": "mainnet",
                                        "5": "goerli",
                                        "10": "optimism",
                                        "56": "bsc",
                                        "97": "bnb-testnet",
                                        "100": "gnosis",
                                        "122": "fuse",
                                        "137": "matic",
                                        "250": "fantom",
                                        "420": "optimism-goerli",
                                        "4002": "fantom-testnet",
                                        "8453": "base",
                                        "42161": "arbitrum-one",
                                        "43113": "avalanche-fuji",
                                        "43114": "avalanche",
                                        "80001": "mumbai",
                                        "84531": "base-testnet",
                                        "84532": "base-sepolia",
                                        "421613": "arbitrum-goerli",
                                        "421614": "arbitrum-sepolia",
                                        "11155111": "sepolia"
                                      }
                                }
                            }
                        }
                    },
                    "502": { "description": "Bad Gateway" },
                    "403": { "description": "Invalid API Key" },
                    "401": { "description": "Unauthorized" },
                    "400": { "description": "Bad Request" },
                    "default": { "description": "Success" }
                }
            }
        },        
        "/getLatestUserOps": {
            "get": {
                "tags": ["User Operations"],
                "description": "Returns the latest user operations that were mined recently",
                "parameters": [
                    {
                        "name": "skip",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "example": "0"
                    },
                    {
                        "name": "network",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "optimism-goerli"
                    },
                    {
                        "name": "first",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "example": "1"
                    }
                ],
                "security": [
                    {
                        "BasicAuth": ["TestApiKeyOnlyUseDashboardForProd"]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "title": "UserOps",
                                    "description": "An array of user operations that were mined recently",
                                    "items": {
                                        "$ref": "#/components/schemas/UserOp"
                                    },
                                    "example": {
                                        "userOps": [
                                            {
                                                "verificationGasLimit": "100000",
                                                "userOpHash": "0x1855a982c9a3e1bf45fb07c6fd16cfc5e5063b064a0e10f4a17e569a48d69655",
                                                "transactionHash": "0x72c89fe01ce7c8b106549eba64380ac54ec3239dffdb4d91fb36d9bb3fc90690",
                                                "target": "0xea763fe334a53444671bad44fe0e033ccae4187a",
                                                "accountTarget": { "factory": null },
                                                "success": true,
                                                "signature": "0x495ac3568e3e7426380a01ee5c99f814c3d448e57f192308e31e7cafa84ff607117ee27feaa4f313a1896fa07dcc5e27b71690f17522effd6eb1bbfe978724181b",
                                                "sender": "0x935fdb2cf5e3afec201ae6793912c85ddc9c67d1",
                                                "accountSender": { "factory": "0x54ec360704b2e9e4e6499a732b78094d6d78e37b" },
                                                "revertReason": null,
                                                "preVerificationGas": "48832",
                                                "paymasterAndData": "0xdff7fa1077bce740a6a212b3995990682c0ba66d00000000000000000000000000000000000000000000000000000000645439b80000000000000000000000000000000000000000000000000000000000000000105c448713ca78d1ab4c9e81a8ba342383b1efd92cc44dc90e621f485440eb531795cd43c151471a78ff5ecc40ea08e052b84a5f86f0ec744c302edb6143cf741b",
                                                "paymaster": "0xdff7fa1077bce740a6a212b3995990682c0ba66d",
                                                "nonce": "1",
                                                "network": "optimism-goerli",
                                                "maxPriorityFeePerGas": "1500000000",
                                                "maxFeePerGas": "1500000100",
                                                "input": "0x1fad948c00000000000000000000000000000000000000000000000000000000000000400000000000000000000000004337003fcd2f56de3977ccb806383e9161628d0e00000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000000000020000000000000000000000000935fdb2cf5e3afec201ae6793912c85ddc9c67d1000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000001600000000000000000000000000000000000000000000000000000000000000180000000000000000000000000000000000000000000000000000000000001f78c00000000000000000000000000000000000000000000000000000000000186a0000000000000000000000000000000000000000000000000000000000000bec00000000000000000000000000000000000000000000000000000000059682f640000000000000000000000000000000000000000000000000000000059682f00000000000000000000000000000000000000000000000000000000000000040000000000000000000000000000000000000000000000000000000000000004c000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000244b61d27f6000000000000000000000000ea763fe334a53444671bad44fe0e033ccae4187a0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000006000000000000000000000000000000000000000000000000000000000000001a484bb1e42000000000000000000000000935fdb2cf5e3afec201ae6793912c85ddc9c67d10000000000000000000000000000000000000000000000000000000000000001000000000000000000000000eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000c000000000000000000000000000000000000000000000000000000000000001800000000000000000000000000000000000000000000000000000000000000080ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee00000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000095dff7fa1077bce740a6a212b3995990682c0ba66d00000000000000000000000000000000000000000000000000000000645439b80000000000000000000000000000000000000000000000000000000000000000105c448713ca78d1ab4c9e81a8ba342383b1efd92cc44dc90e621f485440eb531795cd43c151471a78ff5ecc40ea08e052b84a5f86f0ec744c302edb6143cf741b00000000000000000000000000000000000000000000000000000000000000000000000000000000000041495ac3568e3e7426380a01ee5c99f814c3d448e57f192308e31e7cafa84ff607117ee27feaa4f313a1896fa07dcc5e27b71690f17522effd6eb1bbfe978724181b00000000000000000000000000000000000000000000000000000000000000",
                                                "gasPrice": "1000000050",
                                                "id": "0x1855a982c9a3e1bf45fb07c6fd16cfc5e5063b064a0e10f4a17e569a48d69655-1",
                                                "gasLimit": "398058",
                                                "factory": "0x",
                                                "callGasLimit": "128908",
                                                "callData": "0x84bb1e42000000000000000000000000935fdb2cf5e3afec201ae6793912c85ddc9c67d10000000000000000000000000000000000000000000000000000000000000001000000000000000000000000eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000c000000000000000000000000000000000000000000000000000000000000001800000000000000000000000000000000000000000000000000000000000000080ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000",
                                                "blockTime": "1683240806",
                                                "blockNumber": "8906369",
                                                "beneficiary": "0x4337003fcd2f56de3977ccb806383e9161628d0e",
                                                "baseFeePerGas": "50",
                                                "actualGasUsed": "198575",
                                                "actualGasCost": "297862509928750",
                                                "value": "0"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "502": { "description": "Bad Gateway" },
                    "403": { "description": "Invalid API Key" },
                    "401": { "description": "Unauthorized" },
                    "400": { "description": "Bad Request" },
                    "default": { "description": "Success" }
                },
                "x-amazon-apigateway-integration": {
                    "type": "aws_proxy",
                    "httpMethod": "POST",
                    "uri": "arn:aws:apigateway:us-east-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-2:283541367427:function:test-jiffyscan-GetLatestUserOpsFunction-naTLXmaghzeD/invocations",
                    "passthroughBehavior": "when_no_match"
                }
            }
        },
        "/getTopFactories": {
            "description": "Returns the top factories in a chain based on number of accounts created",
            "get": {
                "tags": ["Factory"],
                "parameters": [
                    {
                        "name": "skip",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "example": "0"
                    },
                    {
                        "name": "network",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "example": "optimism-goerli"
                    },
                    {
                        "name": "first",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "example": "1"
                    }
                ],
                "security": [
                    {
                        "BasicAuth": []
                    }
                ],
                "description": "Returns the top factories in a chain",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "title": "Factories",
                                    "description": "An array of factories",
                                    "items": {
                                        "$ref": "#/components/schemas/Factory"
                                    }
                                },
                                "example": {
                                    "factories": [
                                        { "address": "0xb73eb505abc30d0e7e15b73a492863235b3f4309", "accountsLength": "82" },
                                        { "address": "0x9406cc6185a346906296840746125a0e44976454", "accountsLength": "12" },
                                        { "address": "0x71d63edcda95c61d6235552b5bc74e32d8e2527b", "accountsLength": "7" },
                                        { "address": "0xa6b71e26c5e0845f74c812102ca7114b6a896ab2", "accountsLength": "3" },
                                        { "address": "0xf6c1fbe5016602eb0f7dea83cdd39c4c934feea6", "accountsLength": "2" },
                                        { "address": "0xf2da9326f95c5ad195bc6ed366289e0f95d7bc42", "accountsLength": "1" },
                                        { "address": "0x9f21ecfd79a79d40d0b47005f1b7c217009594c5", "accountsLength": "1" },
                                        { "address": "0x56a8e4abd7ddec0d16cd7e292123cf0f478d5646", "accountsLength": "1" },
                                        { "address": "0x54ec360704b2e9e4e6499a732b78094d6d78e37b", "accountsLength": "1" },
                                        { "address": "0x51283946fbb01150b558159ea4b6f43dedd253a4", "accountsLength": "1" },
                                        { "address": "0x09c58cf6be8e25560d479bd52b4417d15bca2845", "accountsLength": "1" }
                                    ]
                                }
                            }
                        }
                    },
                    "502": { "description": "Bad Gateway" },
                    "403": { "description": "Invalid API Key" },
                    "401": { "description": "Unauthorized" },
                    "400": { "description": "Bad Request" },
                    "default": { "description": "Success" }
                },
                "x-amazon-apigateway-integration": {
                    "type": "aws_proxy",
                    "httpMethod": "POST",
                    "uri": "arn:aws:apigateway:us-east-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-2:283541367427:function:test-jiffyscan-GetTopFactoriesFunction-KBowU6KubjaS/invocations",
                    "passthroughBehavior": "when_no_match"
                }
            }
        },
        "/getPaymasterActivity": {
            "get": {
                "tags": ["User Operations"],
                "parameters": [
                    {
                        "name": "address",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "0xdff7fa1077bce740a6a212b3995990682c0ba66d"
                    },
                    {
                        "name": "network",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "example": "optimism-goerli"
                    },
                    {
                        "name": "first",
                        "in": "query",
                        "description": "How many records to return",
                        "schema": {
                            "type": "string"
                        },
                        "example": "1"
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "How many records to skip",
                        "schema": {
                            "type": "string"
                        },
                        "example": "0"
                    }
                ],
                "security": [
                    {
                        "BasicAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "title": "UserOps",
                                    "description": "An array of user operations that the paymaster funded",
                                    "items": {
                                        "$ref": "#/components/schemas/UserOp"
                                    },
                                    "example": {
                                        "userOps": [
                                            {
                                                "verificationGasLimit": "100000",
                                                "userOpHash": "0x1855a982c9a3e1bf45fb07c6fd16cfc5e5063b064a0e10f4a17e569a48d69655",
                                                "transactionHash": "0x72c89fe01ce7c8b106549eba64380ac54ec3239dffdb4d91fb36d9bb3fc90690",
                                                "target": "0xea763fe334a53444671bad44fe0e033ccae4187a",
                                                "accountTarget": { "factory": null },
                                                "success": true,
                                                "signature": "0x495ac3568e3e7426380a01ee5c99f814c3d448e57f192308e31e7cafa84ff607117ee27feaa4f313a1896fa07dcc5e27b71690f17522effd6eb1bbfe978724181b",
                                                "sender": "0x935fdb2cf5e3afec201ae6793912c85ddc9c67d1",
                                                "accountSender": { "factory": "0x54ec360704b2e9e4e6499a732b78094d6d78e37b" },
                                                "revertReason": null,
                                                "preVerificationGas": "48832",
                                                "paymasterAndData": "0xdff7fa1077bce740a6a212b3995990682c0ba66d00000000000000000000000000000000000000000000000000000000645439b80000000000000000000000000000000000000000000000000000000000000000105c448713ca78d1ab4c9e81a8ba342383b1efd92cc44dc90e621f485440eb531795cd43c151471a78ff5ecc40ea08e052b84a5f86f0ec744c302edb6143cf741b",
                                                "paymaster": "0xdff7fa1077bce740a6a212b3995990682c0ba66d",
                                                "nonce": "1",
                                                "network": "optimism-goerli",
                                                "maxPriorityFeePerGas": "1500000000",
                                                "maxFeePerGas": "1500000100",
                                                "input": "0x1fad948c00000000000000000000000000000000000000000000000000000000000000400000000000000000000000004337003fcd2f56de3977ccb806383e9161628d0e00000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000000000020000000000000000000000000935fdb2cf5e3afec201ae6793912c85ddc9c67d1000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000001600000000000000000000000000000000000000000000000000000000000000180000000000000000000000000000000000000000000000000000000000001f78c00000000000000000000000000000000000000000000000000000000000186a0000000000000000000000000000000000000000000000000000000000000bec00000000000000000000000000000000000000000000000000000000059682f640000000000000000000000000000000000000000000000000000000059682f00000000000000000000000000000000000000000000000000000000000000040000000000000000000000000000000000000000000000000000000000000004c000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000244b61d27f6000000000000000000000000ea763fe334a53444671bad44fe0e033ccae4187a0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000006000000000000000000000000000000000000000000000000000000000000001a484bb1e42000000000000000000000000935fdb2cf5e3afec201ae6793912c85ddc9c67d10000000000000000000000000000000000000000000000000000000000000001000000000000000000000000eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000c000000000000000000000000000000000000000000000000000000000000001800000000000000000000000000000000000000000000000000000000000000080ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee00000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000095dff7fa1077bce740a6a212b3995990682c0ba66d00000000000000000000000000000000000000000000000000000000645439b80000000000000000000000000000000000000000000000000000000000000000105c448713ca78d1ab4c9e81a8ba342383b1efd92cc44dc90e621f485440eb531795cd43c151471a78ff5ecc40ea08e052b84a5f86f0ec744c302edb6143cf741b00000000000000000000000000000000000000000000000000000000000000000000000000000000000041495ac3568e3e7426380a01ee5c99f814c3d448e57f192308e31e7cafa84ff607117ee27feaa4f313a1896fa07dcc5e27b71690f17522effd6eb1bbfe978724181b00000000000000000000000000000000000000000000000000000000000000",
                                                "gasPrice": "1000000050",
                                                "id": "0x1855a982c9a3e1bf45fb07c6fd16cfc5e5063b064a0e10f4a17e569a48d69655-1",
                                                "gasLimit": "398058",
                                                "factory": "0x",
                                                "callGasLimit": "128908",
                                                "callData": "0x84bb1e42000000000000000000000000935fdb2cf5e3afec201ae6793912c85ddc9c67d10000000000000000000000000000000000000000000000000000000000000001000000000000000000000000eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000c000000000000000000000000000000000000000000000000000000000000001800000000000000000000000000000000000000000000000000000000000000080ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000",
                                                "blockTime": "1683240806",
                                                "blockNumber": "8906369",
                                                "beneficiary": "0x4337003fcd2f56de3977ccb806383e9161628d0e",
                                                "baseFeePerGas": "50",
                                                "actualGasUsed": "198575",
                                                "actualGasCost": "297862509928750",
                                                "value": "0"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "502": { "description": "Bad Gateway" },
                    "403": { "description": "Invalid API Key" },
                    "401": { "description": "Unauthorized" },
                    "400": { "description": "Bad Request" },
                    "default": { "description": "Success" }
                },
                "x-amazon-apigateway-integration": {
                    "type": "aws_proxy",
                    "httpMethod": "POST",
                    "uri": "arn:aws:apigateway:us-east-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-2:283541367427:function:test-jiffyscan-GetPaymasterActivityFunction-WhZh2vTfOvTQ/invocations",
                    "passthroughBehavior": "when_no_match"
                }
            }
        },
        "/getLatestBundles": {
            "get": {
                "tags": ["Bundler"],

                "parameters": [
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "How many records to skip",
                        "schema": {
                            "type": "string"
                        },
                        "example": "0"
                    },
                    {
                        "name": "network",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "first",
                        "in": "query",
                        "description": "How many records to return",
                        "schema": {
                            "type": "string"
                        },
                        "example": "1"
                    }
                ],
                "security": [
                    {
                        "BasicAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "title": "Latest Bundles",
                                    "description": "An array of user operations that the paymaster funded",
                                    "items": {
                                        "$ref": "#/components/schemas/Bundle"
                                    },
                                    "example": {
                                        "bundles": [
                                            {
                                                "userOpsLength": "1",
                                                "transactionHash": "0x4047e049629e049d607529953484e85bd07b005fe271703caa6898f90f7b9883",
                                                "network": "optimism",
                                                "blockNumber": "103189837",
                                                "blockTime": "1685521823",
                                                "userOps": [
                                                    {
                                                        "id": "0x2ed4bf0ad7149d160ce4d3fe430f91267dbb1eb7fe7f9e41105a69b19ec29066-1",
                                                        "userOpHash": "0x2ed4bf0ad7149d160ce4d3fe430f91267dbb1eb7fe7f9e41105a69b19ec29066"
                                                    }
                                                ]
                                            },
                                            {
                                                "userOpsLength": "1",
                                                "transactionHash": "0x3ffdf3b21b712404e5510b5f6f70dd3aca7044bbef4ef75b3c7cf7c4d997bf62",
                                                "network": "optimism",
                                                "blockNumber": "103187748",
                                                "blockTime": "1685521418",
                                                "userOps": [
                                                    {
                                                        "id": "0xae5820ee2e624041ca817a129f02d90665f04226960aafd5a1afa2a189efc7e4-1",
                                                        "userOpHash": "0xae5820ee2e624041ca817a129f02d90665f04226960aafd5a1afa2a189efc7e4"
                                                    }
                                                ]
                                            },
                                            {
                                                "userOpsLength": "1",
                                                "transactionHash": "0x066d9c627158ef0832daa24ca5593169ea60c617b8dfa908d20f6df1e5777acf",
                                                "network": "optimism",
                                                "blockNumber": "102958070",
                                                "blockTime": "1685458395",
                                                "userOps": [
                                                    {
                                                        "id": "0x4349b996fbb0b6954e04b5a7ee814f733a53e00860ccfe730181bce620c04f78-1",
                                                        "userOpHash": "0x4349b996fbb0b6954e04b5a7ee814f733a53e00860ccfe730181bce620c04f78"
                                                    }
                                                ]
                                            },
                                            {
                                                "userOpsLength": "1",
                                                "transactionHash": "0x1f3abc60d7b47f8a8af43389b2151d29920f4054989e9cc0e885340330ae9a98",
                                                "network": "optimism",
                                                "blockNumber": "102623025",
                                                "blockTime": "1685368853",
                                                "userOps": [
                                                    {
                                                        "id": "0xa340f99db04987cd9041422e93fdc8ab03cd8fc0cd14ea1ecbeec83f48d7e4e4-1",
                                                        "userOpHash": "0xa340f99db04987cd9041422e93fdc8ab03cd8fc0cd14ea1ecbeec83f48d7e4e4"
                                                    }
                                                ]
                                            },
                                            {
                                                "userOpsLength": "1",
                                                "transactionHash": "0x15faceba73029b551bee8fe455d22c329c2b74b68c502d9bce401fae2c9ec1a2",
                                                "network": "optimism",
                                                "blockNumber": "102621717",
                                                "blockTime": "1685368537",
                                                "userOps": [
                                                    {
                                                        "id": "0x47aa7ef398541aad7c0524bfda44b97cddf5a494dcfe9a67790269a991ea5410-1",
                                                        "userOpHash": "0x47aa7ef398541aad7c0524bfda44b97cddf5a494dcfe9a67790269a991ea5410"
                                                    }
                                                ]
                                            },
                                            {
                                                "userOpsLength": "1",
                                                "transactionHash": "0x93188f9726ef36c5f68642d26a91a1fc16133dac5b8c984d74edb71d0d167066",
                                                "network": "optimism",
                                                "blockNumber": "102621319",
                                                "blockTime": "1685368447",
                                                "userOps": [
                                                    {
                                                        "id": "0x2091df626d1aca16190257c846c19088ad37cc114be24cce304f3b61db34af05-1",
                                                        "userOpHash": "0x2091df626d1aca16190257c846c19088ad37cc114be24cce304f3b61db34af05"
                                                    }
                                                ]
                                            },
                                            {
                                                "userOpsLength": "1",
                                                "transactionHash": "0x809aa5b6a73d45be67e5625ee870d658a100ef95663791bd30c385daabc2dbe1",
                                                "network": "optimism",
                                                "blockNumber": "102618238",
                                                "blockTime": "1685367636",
                                                "userOps": [
                                                    {
                                                        "id": "0x917c24b002fb2198b2357c14635181cb8f5fdafaa2f39202a9424f24096d752d-1",
                                                        "userOpHash": "0x917c24b002fb2198b2357c14635181cb8f5fdafaa2f39202a9424f24096d752d"
                                                    }
                                                ]
                                            },
                                            {
                                                "userOpsLength": "1",
                                                "transactionHash": "0x5d39711b46057b0af947a328a2ec8ca016cabb6c3b40249ea23263afbf2208f2",
                                                "network": "optimism",
                                                "blockNumber": "102617179",
                                                "blockTime": "1685367365",
                                                "userOps": [
                                                    {
                                                        "id": "0xa8e61ad552be11991cba825474ce1752768db1e3e9fca968b79bbcfb6178c3e4-1",
                                                        "userOpHash": "0xa8e61ad552be11991cba825474ce1752768db1e3e9fca968b79bbcfb6178c3e4"
                                                    }
                                                ]
                                            },
                                            {
                                                "userOpsLength": "1",
                                                "transactionHash": "0xf8385bfca09b4bda0f39e3a8f18b285cde6be7e92034587b3c46d16bd5a0107e",
                                                "network": "optimism",
                                                "blockNumber": "101839834",
                                                "blockTime": "1685137556",
                                                "userOps": [
                                                    {
                                                        "id": "0xfe3ac0162a727825b00a48d82008a5504a998eab4ccb8b14a0d540d99ba2ca8f-1",
                                                        "userOpHash": "0xfe3ac0162a727825b00a48d82008a5504a998eab4ccb8b14a0d540d99ba2ca8f"
                                                    }
                                                ]
                                            },
                                            {
                                                "userOpsLength": "1",
                                                "transactionHash": "0x82a8839bc98e6ca5608c198cc3e11deaa0ec89f11aa96a8a8d652223a6939548",
                                                "network": "optimism",
                                                "blockNumber": "101839061",
                                                "blockTime": "1685137271",
                                                "userOps": [
                                                    {
                                                        "id": "0xb0ec14dc12a04f9433019fc1be1795ed94480898ef9a98e25952979f2e362fef-1",
                                                        "userOpHash": "0xb0ec14dc12a04f9433019fc1be1795ed94480898ef9a98e25952979f2e362fef"
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "502": { "description": "Bad Gateway" },
                    "403": { "description": "Invalid API Key" },
                    "401": { "description": "Unauthorized" },
                    "400": { "description": "Bad Request" },
                    "default": { "description": "Success" }
                },
                "x-amazon-apigateway-integration": {
                    "type": "aws_proxy",
                    "httpMethod": "POST",
                    "uri": "arn:aws:apigateway:us-east-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-2:283541367427:function:test-jiffyscan-GetLatestBundlesFunction-gOKz7zPMJJ0T/invocations",
                    "passthroughBehavior": "when_no_match"
                }
            }
        },
        "/getTopBundlers": {
            "get": {
                "tags": ["Bundler"],

                "parameters": [
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "How many records to skip",
                        "schema": {
                            "type": "string"
                        },
                        "example": "0"
                    },
                    {
                        "name": "network",
                        "description": "Which network to query ?",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "example": "optimism-goerli"
                    },
                    {
                        "name": "first",
                        "in": "query",
                        "description": "How many records to return",
                        "schema": {
                            "type": "string"
                        },
                        "example": "1"
                    }
                ],
                "security": [
                    {
                        "BasicAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "title": "Latest Bundles",
                                    "description": "An array of user operations that the paymaster funded",
                                    "items": {
                                        "$ref": "#/components/schemas/Bundler"
                                    },
                                    "example": {
                                        "bundlerDetails": {
                                            "address": "0x3cfdc212769c890907bce93d3d8c2c53de6a7a89",
                                            "userOpsLength": "117",
                                            "userOps": [
                                                {
                                                    "id": "0x2ed4bf0ad7149d160ce4d3fe430f91267dbb1eb7fe7f9e41105a69b19ec29066-1",
                                                    "sender": "0xc9e54e6a9f8194a265175528022d4bc72f1343a1",
                                                    "target": "0xb555edf5dcf85f42ceef1f3630a52a108e55a654",
                                                    "actualGasCost": "519949255100000",
                                                    "success": true,
                                                    "revertReason": null,
                                                    "blockTime": "1685521823",
                                                    "paymaster": "0x769f68e4ba8f53f3092eef34a42a811ab6365b05",
                                                    "network": "optimism",
                                                    "userOpHash": "0x2ed4bf0ad7149d160ce4d3fe430f91267dbb1eb7fe7f9e41105a69b19ec29066",
                                                    "input": "0x1fad948c00000000000000000000000000000000000000000000000000000000000000400000000000000000000000003cfdc212769c890907bce93d3d8c2c53de6a7a8900000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000000000020000000000000000000000000c9e54e6a9f8194a265175528022d4bc72f1343a10000000000000000000000000000000000000000000000000000000000000007000000000000000000000000000000000000000000000000000000000000016000000000000000000000000000000000000000000000000000000000000001800000000000000000000000000000000000000000000000000000000000052a38000000000000000000000000000000000000000000000000000000000002f9b8000000000000000000000000000000000000000000000000000000001c285adc000000000000000000000000000000000000000000000000000000000010c8e0000000000000000000000000000000000000000000000000000000000010c8e000000000000000000000000000000000000000000000000000000000000006800000000000000000000000000000000000000000000000000000000000000760000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004c4f34308ef000000000000000000000000b555edf5dcf85f42ceef1f3630a52a108e55a654000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000e00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000769f68e4ba8f53f3092eef34a42a811ab6365b050000000000000000000000007f5c764cbc14f9669b88837ca1490cca17c3160700000000000000000000000000000000000000000000000000000000001135b100000000000000000000000000000000000000000000000000000000000003a43593564c000000000000000000000000000000000000000000000000000000000000006000000000000000000000000000000000000000000000000000000000000000a000000000000000000000000000000000000000000000000000000000647706ad00000000000000000000000000000000000000000000000000000000000000020a000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000000000000000000000000000000000000000000000000000000000004000000000000000000000000000000000000000000000000000000000000001c000000000000000000000000000000000000000000000000000000000000001600000000000000000000000007f5c764cbc14f9669b88837ca1490cca17c31607000000000000000000000000ffffffffffffffffffffffffffffffffffffffff00000000000000000000000000000000000000000000000000000000649e92910000000000000000000000000000000000000000000000000000000000000000000000000000000000000000b555edf5dcf85f42ceef1f3630a52a108e55a6540000000000000000000000000000000000000000000000000000000064770c9900000000000000000000000000000000000000000000000000000000000000e000000000000000000000000000000000000000000000000000000000000000415a235fe29ff04f8a3028b4e3f53e60254bd914b2651f008c492c993721f1c1b313a2f71045e891fd4fd2a7c682e8f63113258e4eda5454b5c03f3e9aed1811fc1b000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000f424000000000000000000000000000000000000000000000000000000000000f3ee600000000000000000000000000000000000000000000000000000000000000a00000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000000000000000000000000000000000002b7f5c764cbc14f9669b88837ca1490cca17c3160700006494b008aa00579c1307b0ef2c499ad98a8ce58e58000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000b0769f68e4ba8f53f3092eef34a42a811ab6365b057f5c764cbc14f9669b88837ca1490cca17c316070000006477064400000000000000000000000000000000000000000000000000000000000186a0000000000000000000000000000000000000000000000000000000006f822dd413fe9950b7aeb44807345f27db7d4fb73bbb389f7cfbc4274029d40e92109eb438f5a417c3e13ccde4c25bd40cdc55b3ec97977b653c5c5ff661728fa3f6e2ce1b000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000041dc9169c85758cd07ccaa185c6158898ba87be5b8df053dd378e830c86fbe3b0d34b500d130b49b424071df2766d1fa179cbbd08de44d3d31797eb6d607c577461c00000000000000000000000000000000000000000000000000000000000000",
                                                    "nonce": "7",
                                                    "value": "0",
                                                    "callData": "0x3593564c000000000000000000000000000000000000000000000000000000000000006000000000000000000000000000000000000000000000000000000000000000a000000000000000000000000000000000000000000000000000000000647706ad00000000000000000000000000000000000000000000000000000000000000020a000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000000000000000000000000000000000000000000000000000000000004000000000000000000000000000000000000000000000000000000000000001c000000000000000000000000000000000000000000000000000000000000001600000000000000000000000007f5c764cbc14f9669b88837ca1490cca17c31607000000000000000000000000ffffffffffffffffffffffffffffffffffffffff00000000000000000000000000000000000000000000000000000000649e92910000000000000000000000000000000000000000000000000000000000000000000000000000000000000000b555edf5dcf85f42ceef1f3630a52a108e55a6540000000000000000000000000000000000000000000000000000000064770c9900000000000000000000000000000000000000000000000000000000000000e000000000000000000000000000000000000000000000000000000000000000415a235fe29ff04f8a3028b4e3f53e60254bd914b2651f008c492c993721f1c1b313a2f71045e891fd4fd2a7c682e8f63113258e4eda5454b5c03f3e9aed1811fc1b000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000f424000000000000000000000000000000000000000000000000000000000000f3ee600000000000000000000000000000000000000000000000000000000000000a00000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000000000000000000000000000000000002b7f5c764cbc14f9669b88837ca1490cca17c3160700006494b008aa00579c1307b0ef2c499ad98a8ce58e58000000000000000000000000000000000000000000"
                                                },
                                                {
                                                    "id": "0xae5820ee2e624041ca817a129f02d90665f04226960aafd5a1afa2a189efc7e4-1",
                                                    "sender": "0xc9e54e6a9f8194a265175528022d4bc72f1343a1",
                                                    "target": "0x7f5c764cbc14f9669b88837ca1490cca17c31607",
                                                    "actualGasCost": "402972907700000",
                                                    "success": true,
                                                    "revertReason": null,
                                                    "blockTime": "1685521418",
                                                    "paymaster": "0x769f68e4ba8f53f3092eef34a42a811ab6365b05",
                                                    "network": "optimism",
                                                    "userOpHash": "0xae5820ee2e624041ca817a129f02d90665f04226960aafd5a1afa2a189efc7e4",
                                                    "input": "0x1fad948c00000000000000000000000000000000000000000000000000000000000000400000000000000000000000003cfdc212769c890907bce93d3d8c2c53de6a7a8900000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000000000020000000000000000000000000c9e54e6a9f8194a265175528022d4bc72f1343a1000000000000000000000000000000000000000000000000000000000000000600000000000000000000000000000000000000000000000000000000000001600000000000000000000000000000000000000000000000000000000000000180000000000000000000000000000000000000000000000000000000000001d7ed000000000000000000000000000000000000000000000000000000000002f9b80000000000000000000000000000000000000000000000000000000015d33944000000000000000000000000000000000000000000000000000000000010c8e0000000000000000000000000000000000000000000000000000000000010c8e00000000000000000000000000000000000000000000000000000000000000320000000000000000000000000000000000000000000000000000000000000040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000164f34308ef0000000000000000000000007f5c764cbc14f9669b88837ca1490cca17c31607000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000e00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000769f68e4ba8f53f3092eef34a42a811ab6365b050000000000000000000000007f5c764cbc14f9669b88837ca1490cca17c3160700000000000000000000000000000000000000000000000000000000000db3580000000000000000000000000000000000000000000000000000000000000044a9059cbb000000000000000000000000efcb66b8ff69a15e5cd0141c28f34b8a67fb5a2a00000000000000000000000000000000000000000000000000000000000f4240000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000b0769f68e4ba8f53f3092eef34a42a811ab6365b057f5c764cbc14f9669b88837ca1490cca17c31607000000647704be00000000000000000000000000000000000000000000000000000000000186a0000000000000000000000000000000000000000000000000000000006f8450ba4e58bd3a779239d6954cfd38363335442c63a8ca01d7b3ad282c6e7bf363d8e16b215d27f82554f4b552a80e94ba507ec80054bb692d3958cf029b8f9491267f1b0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000416d4dd3041f2031a1efb0d3ef8c80ddc14cd63cf3cdaff3ad078e2cd8731a8d4741410291130ed5816f0180284a3238b86936c324e7b17698a1cc82abf91ee1311b00000000000000000000000000000000000000000000000000000000000000",
                                                    "nonce": "6",
                                                    "value": "0",
                                                    "callData": "0xa9059cbb000000000000000000000000efcb66b8ff69a15e5cd0141c28f34b8a67fb5a2a00000000000000000000000000000000000000000000000000000000000f4240"
                                                },
                                                {
                                                    "id": "0x4349b996fbb0b6954e04b5a7ee814f733a53e00860ccfe730181bce620c04f78-1",
                                                    "sender": "0x32ee4a271260e57e504d37a0430146b3e2c129e9",
                                                    "target": "0x32ee4a271260e57e504d37a0430146b3e2c129e9",
                                                    "actualGasCost": "1427233628700000",
                                                    "success": true,
                                                    "revertReason": null,
                                                    "blockTime": "1685458395",
                                                    "paymaster": "0x769f68e4ba8f53f3092eef34a42a811ab6365b05",
                                                    "network": "optimism",
                                                    "userOpHash": "0x4349b996fbb0b6954e04b5a7ee814f733a53e00860ccfe730181bce620c04f78",
                                                    "input": "0x1fad948c00000000000000000000000000000000000000000000000000000000000000400000000000000000000000003cfdc212769c890907bce93d3d8c2c53de6a7a890000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000000000000000000000000000000000002000000000000000000000000032ee4a271260e57e504d37a0430146b3e2c129e900000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000000000000000000000000000000000000160000000000000000000000000000000000000000000000000000000000000018000000000000000000000000000000000000000000000000000000000000141f2000000000000000000000000000000000000000000000000000000000002f9b8000000000000000000000000000000000000000000000000000000004d536e5c000000000000000000000000000000000000000000000000000000000010c8e0000000000000000000000000000000000000000000000000000000000010c8e000000000000000000000000000000000000000000000000000000000000002c000000000000000000000000000000000000000000000000000000000000003a000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000104f34308ef00000000000000000000000032ee4a271260e57e504d37a0430146b3e2c129e9000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000e00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000769f68e4ba8f53f3092eef34a42a811ab6365b050000000000000000000000007f5c764cbc14f9669b88837ca1490cca17c3160700000000000000000000000000000000000000000000000000000000002d34ee00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000b0769f68e4ba8f53f3092eef34a42a811ab6365b057f5c764cbc14f9669b88837ca1490cca17c3160700000064760e8f00000000000000000000000000000000000000000000000000000000000186a000000000000000000000000000000000000000000000000000000000719cdba822f7038b465f3d193f967d9adcde53429e44983de1503b4838e267346fa30b772e28cbfa5b98cd073e6137f774a0bca127e80929d444e919392aac6c7a7da1341c0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000418d2f8c88e911ca7ca67c787597c03dc9528d26f3d1b39dd0d9013f38e4a877df693a46b2e81d0e0d03a8d8a9c7c75a094802b31605eadab01ed58cf16e2ffb571b00000000000000000000000000000000000000000000000000000000000000",
                                                    "nonce": "17",
                                                    "value": "1",
                                                    "callData": "0x"
                                                },
                                                {
                                                    "id": "0xa340f99db04987cd9041422e93fdc8ab03cd8fc0cd14ea1ecbeec83f48d7e4e4-1",
                                                    "sender": "0x5ae1083562d77cb835b91b5b815a59a5eee7ed90",
                                                    "target": "0xb555edf5dcf85f42ceef1f3630a52a108e55a654",
                                                    "actualGasCost": "2518746606200000",
                                                    "success": true,
                                                    "revertReason": null,
                                                    "blockTime": "1685368853",
                                                    "paymaster": "0x0000000000000000000000000000000000000000",
                                                    "network": "optimism",
                                                    "userOpHash": "0xa340f99db04987cd9041422e93fdc8ab03cd8fc0cd14ea1ecbeec83f48d7e4e4",
                                                    "input": "0x1fad948c00000000000000000000000000000000000000000000000000000000000000400000000000000000000000003cfdc212769c890907bce93d3d8c2c53de6a7a89000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000200000000000000000000000005ae1083562d77cb835b91b5b815a59a5eee7ed9000000000000000000000000000000000000000000000000000000000000000080000000000000000000000000000000000000000000000000000000000000160000000000000000000000000000000000000000000000000000000000000018000000000000000000000000000000000000000000000000000000000000540ed0000000000000000000000000000000000000000000000000000000000027100000000000000000000000000000000000000000000000000000000008876cfe4000000000000000000000000000000000000000000000000000000000010c8e0000000000000000000000000000000000000000000000000000000000010c8e000000000000000000000000000000000000000000000000000000000000005e0000000000000000000000000000000000000000000000000000000000000060000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000424f34308ef000000000000000000000000b555edf5dcf85f42ceef1f3630a52a108e55a6540000000000000000000000000000000000000000000000000003073e9ff479a400000000000000000000000000000000000000000000000000000000000000e0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003043593564c000000000000000000000000000000000000000000000000000000000000006000000000000000000000000000000000000000000000000000000000000000a0000000000000000000000000000000000000000000000000000000006474b12300000000000000000000000000000000000000000000000000000000000000030b010c00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000000000000000000000000000000000000000000000000000000000006000000000000000000000000000000000000000000000000000000000000000c000000000000000000000000000000000000000000000000000000000000001e0000000000000000000000000000000000000000000000000000000000000004000000000000000000000000000000000000000000000000000000000000000020000000000000000000000000000000000000000000000000003073e9ff479a4000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000de0b6b3a76400000000000000000000000000000000000000000000000000000003073e9ff479a400000000000000000000000000000000000000000000000000000000000000a00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002b42000000000000000000000000000000000000420001f44200000000000000000000000000000000000006000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000041d76baff4f09f171e86bd20225694a391b007b0cce9259ea0fd771327e8d845b14c61493ceb0838bd41da23788cfb8a76a4b9433bb0a94d69b4f14a2525627ff51b00000000000000000000000000000000000000000000000000000000000000",
                                                    "nonce": "8",
                                                    "value": "852390483098020",
                                                    "callData": "0x3593564c000000000000000000000000000000000000000000000000000000000000006000000000000000000000000000000000000000000000000000000000000000a0000000000000000000000000000000000000000000000000000000006474b12300000000000000000000000000000000000000000000000000000000000000030b010c00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000000000000000000000000000000000000000000000000000000000006000000000000000000000000000000000000000000000000000000000000000c000000000000000000000000000000000000000000000000000000000000001e0000000000000000000000000000000000000000000000000000000000000004000000000000000000000000000000000000000000000000000000000000000020000000000000000000000000000000000000000000000000003073e9ff479a4000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000de0b6b3a76400000000000000000000000000000000000000000000000000000003073e9ff479a400000000000000000000000000000000000000000000000000000000000000a00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002b42000000000000000000000000000000000000420001f44200000000000000000000000000000000000006000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000000000000"
                                                },
                                                {
                                                    "id": "0x47aa7ef398541aad7c0524bfda44b97cddf5a494dcfe9a67790269a991ea5410-1",
                                                    "sender": "0x5ae1083562d77cb835b91b5b815a59a5eee7ed90",
                                                    "target": "0xbc1920b63f35fded45382e2295e645b5c27fd2da",
                                                    "actualGasCost": "2027470352600000",
                                                    "success": true,
                                                    "revertReason": null,
                                                    "blockTime": "1685368537",
                                                    "paymaster": "0x0000000000000000000000000000000000000000",
                                                    "network": "optimism",
                                                    "userOpHash": "0x47aa7ef398541aad7c0524bfda44b97cddf5a494dcfe9a67790269a991ea5410",
                                                    "input": "0x1fad948c00000000000000000000000000000000000000000000000000000000000000400000000000000000000000003cfdc212769c890907bce93d3d8c2c53de6a7a89000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000200000000000000000000000005ae1083562d77cb835b91b5b815a59a5eee7ed90000000000000000000000000000000000000000000000000000000000000000700000000000000000000000000000000000000000000000000000000000001600000000000000000000000000000000000000000000000000000000000000180000000000000000000000000000000000000000000000000000000000001fbd60000000000000000000000000000000000000000000000000000000000027100000000000000000000000000000000000000000000000000000000006ddaab5c000000000000000000000000000000000000000000000000000000000010c8e0000000000000000000000000000000000000000000000000000000000010c8e00000000000000000000000000000000000000000000000000000000000000340000000000000000000000000000000000000000000000000000000000000036000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000184f34308ef000000000000000000000000bc1920b63f35fded45382e2295e645b5c27fd2da000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000e0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000649b890b700000000000000000000000005ae1083562d77cb835b91b5b815a59a5eee7ed900000000000000000000000006f465b117d17126d190a6907c5d3d16e2fac9742000000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004136aaa1fdf6ee95efa588d1b17fdc95a4581c7f4cc12371684b8c9520d79db0670fac659082cb3af84ec3f233ce7eca2edfd2a2e6b1da0678d914ee7b98fd936c1b00000000000000000000000000000000000000000000000000000000000000",
                                                    "nonce": "7",
                                                    "value": "0",
                                                    "callData": "0x9b890b700000000000000000000000005ae1083562d77cb835b91b5b815a59a5eee7ed900000000000000000000000006f465b117d17126d190a6907c5d3d16e2fac97420000000000000000000000000000000000000000000000000000000000000002"
                                                },
                                                {
                                                    "id": "0x2091df626d1aca16190257c846c19088ad37cc114be24cce304f3b61db34af05-1",
                                                    "sender": "0x5ae1083562d77cb835b91b5b815a59a5eee7ed90",
                                                    "target": "0xbc1920b63f35fded45382e2295e645b5c27fd2da",
                                                    "actualGasCost": "2295210695800000",
                                                    "success": true,
                                                    "revertReason": null,
                                                    "blockTime": "1685368447",
                                                    "paymaster": "0x0000000000000000000000000000000000000000",
                                                    "network": "optimism",
                                                    "userOpHash": "0x2091df626d1aca16190257c846c19088ad37cc114be24cce304f3b61db34af05",
                                                    "input": "0x1fad948c00000000000000000000000000000000000000000000000000000000000000400000000000000000000000003cfdc212769c890907bce93d3d8c2c53de6a7a89000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000200000000000000000000000005ae1083562d77cb835b91b5b815a59a5eee7ed900000000000000000000000000000000000000000000000000000000000000006000000000000000000000000000000000000000000000000000000000000016000000000000000000000000000000000000000000000000000000000000001800000000000000000000000000000000000000000000000000000000000020cb10000000000000000000000000000000000000000000000000000000000027100000000000000000000000000000000000000000000000000000000007c5c9ee4000000000000000000000000000000000000000000000000000000000010c8e0000000000000000000000000000000000000000000000000000000000010c8e00000000000000000000000000000000000000000000000000000000000000340000000000000000000000000000000000000000000000000000000000000036000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000184f34308ef000000000000000000000000bc1920b63f35fded45382e2295e645b5c27fd2da000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000e0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000649b890b700000000000000000000000005ae1083562d77cb835b91b5b815a59a5eee7ed90000000000000000000000000276850c481834251eb4006df950084faf86d92180000000000000000000000000000000000000000000000000000000000000002000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000041b2256587f2c781b9f403363ca274833a89dd2ab71706e4094acc2a76899ea9905b1a7e65d9f868e8bab34c112433f4f38070efe121b84b4b075e11e4f4b3f49a1b00000000000000000000000000000000000000000000000000000000000000",
                                                    "nonce": "6",
                                                    "value": "0",
                                                    "callData": "0x9b890b700000000000000000000000005ae1083562d77cb835b91b5b815a59a5eee7ed90000000000000000000000000276850c481834251eb4006df950084faf86d92180000000000000000000000000000000000000000000000000000000000000002"
                                                },
                                                {
                                                    "id": "0x917c24b002fb2198b2357c14635181cb8f5fdafaa2f39202a9424f24096d752d-1",
                                                    "sender": "0x5ae1083562d77cb835b91b5b815a59a5eee7ed90",
                                                    "target": "0xc40f949f8a4e094d1b49a23ea9241d289b7b2819",
                                                    "actualGasCost": "1618161111600000",
                                                    "success": true,
                                                    "revertReason": null,
                                                    "blockTime": "1685367636",
                                                    "paymaster": "0x0000000000000000000000000000000000000000",
                                                    "network": "optimism",
                                                    "userOpHash": "0x917c24b002fb2198b2357c14635181cb8f5fdafaa2f39202a9424f24096d752d",
                                                    "input": "0x1fad948c00000000000000000000000000000000000000000000000000000000000000400000000000000000000000003cfdc212769c890907bce93d3d8c2c53de6a7a89000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000200000000000000000000000005ae1083562d77cb835b91b5b815a59a5eee7ed900000000000000000000000000000000000000000000000000000000000000005000000000000000000000000000000000000000000000000000000000000016000000000000000000000000000000000000000000000000000000000000001800000000000000000000000000000000000000000000000000000000000015e5700000000000000000000000000000000000000000000000000000000000271000000000000000000000000000000000000000000000000000000000057ad4898000000000000000000000000000000000000000000000000000000000010c8e0000000000000000000000000000000000000000000000000000000000010c8e00000000000000000000000000000000000000000000000000000000000000320000000000000000000000000000000000000000000000000000000000000034000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000164f34308ef000000000000000000000000c40f949f8a4e094d1b49a23ea9241d289b7b2819000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000e000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000044095ea7b30000000000000000000000009c12939390052919af3155f41bf4160fd3666a6fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000418b2dd2ef36eb6485b0e620b71f5713e4af684d072d09f79949829358f6194e17204ce86d2ac80ad55e99ebc5ef1bfa04c44a9a2d26e78a415d2290c9e66f142d1b00000000000000000000000000000000000000000000000000000000000000",
                                                    "nonce": "5",
                                                    "value": "0",
                                                    "callData": "0x095ea7b30000000000000000000000009c12939390052919af3155f41bf4160fd3666a6fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff"
                                                },
                                                {
                                                    "id": "0xa8e61ad552be11991cba825474ce1752768db1e3e9fca968b79bbcfb6178c3e4-1",
                                                    "sender": "0x5ae1083562d77cb835b91b5b815a59a5eee7ed90",
                                                    "target": "0xba12222222228d8ba445958a75a0704d566bf2c8",
                                                    "actualGasCost": "2424851638000000",
                                                    "success": true,
                                                    "revertReason": null,
                                                    "blockTime": "1685367365",
                                                    "paymaster": "0x0000000000000000000000000000000000000000",
                                                    "network": "optimism",
                                                    "userOpHash": "0xa8e61ad552be11991cba825474ce1752768db1e3e9fca968b79bbcfb6178c3e4",
                                                    "input": "0x1fad948c00000000000000000000000000000000000000000000000000000000000000400000000000000000000000003cfdc212769c890907bce93d3d8c2c53de6a7a89000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000200000000000000000000000005ae1083562d77cb835b91b5b815a59a5eee7ed900000000000000000000000000000000000000000000000000000000000000004000000000000000000000000000000000000000000000000000000000000016000000000000000000000000000000000000000000000000000000000000001800000000000000000000000000000000000000000000000000000000000041c710000000000000000000000000000000000000000000000000000000000027100000000000000000000000000000000000000000000000000000000008361ae88000000000000000000000000000000000000000000000000000000000010c8e0000000000000000000000000000000000000000000000000000000000010c8e000000000000000000000000000000000000000000000000000000000000006e0000000000000000000000000000000000000000000000000000000000000070000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000524f34308ef000000000000000000000000ba12222222228d8ba445958a75a0704d566bf2c800000000000000000000000000000000000000000000000000069e708249f67800000000000000000000000000000000000000000000000000000000000000e000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000404945bcec90000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000012000000000000000000000000000000000000000000000000000000000000003000000000000000000000000005ae1083562d77cb835b91b5b815a59a5eee7ed9000000000000000000000000000000000000000000000000000000000000000000000000000000000000000005ae1083562d77cb835b91b5b815a59a5eee7ed9000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000380ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff00000000000000000000000000000000000000000000000000000000000000020000000000000000000000000000000000000000000000000000000000000040000000000000000000000000000000000000000000000000000000000000010039965c9dab5448482cf7e002f583c812ceb530460001000000000000000000030000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000069e708249f67800000000000000000000000000000000000000000000000000000000000000a00000000000000000000000000000000000000000000000000000000000000000d9c57025b3da04e5bd078c22b69222e92ddb62f600010000000000000000001e00000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000000000002000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000a00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000300000000000000000000000000000000000000000000000000000000000000000000000000000000000000007f5c764cbc14f9669b88837ca1490cca17c31607000000000000000000000000c40f949f8a4e094d1b49a23ea9241d289b7b2819000000000000000000000000000000000000000000000000000000000000000300000000000000000000000000000000000000000000000000069e708249f6780000000000000000000000000000000000000000000000000000000000000000ffffffffffffffffffffffffffffffffffffffffffffffffd0405e3daf3e709f000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000041775cd66d784c2020dc940c911b6ce1741c58f67bafef2f14a12bcfc801579a940f510c27034bc10473631a36925380ce5b9263165f79b1cc863f76d3c79f5e951b00000000000000000000000000000000000000000000000000000000000000",
                                                    "nonce": "4",
                                                    "value": "1863055919675000",
                                                    "callData": "0x945bcec90000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000012000000000000000000000000000000000000000000000000000000000000003000000000000000000000000005ae1083562d77cb835b91b5b815a59a5eee7ed9000000000000000000000000000000000000000000000000000000000000000000000000000000000000000005ae1083562d77cb835b91b5b815a59a5eee7ed9000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000380ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff00000000000000000000000000000000000000000000000000000000000000020000000000000000000000000000000000000000000000000000000000000040000000000000000000000000000000000000000000000000000000000000010039965c9dab5448482cf7e002f583c812ceb530460001000000000000000000030000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000069e708249f67800000000000000000000000000000000000000000000000000000000000000a00000000000000000000000000000000000000000000000000000000000000000d9c57025b3da04e5bd078c22b69222e92ddb62f600010000000000000000001e00000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000000000002000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000a00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000300000000000000000000000000000000000000000000000000000000000000000000000000000000000000007f5c764cbc14f9669b88837ca1490cca17c31607000000000000000000000000c40f949f8a4e094d1b49a23ea9241d289b7b2819000000000000000000000000000000000000000000000000000000000000000300000000000000000000000000000000000000000000000000069e708249f6780000000000000000000000000000000000000000000000000000000000000000ffffffffffffffffffffffffffffffffffffffffffffffffd0405e3daf3e709f"
                                                },
                                                {
                                                    "id": "0xfe3ac0162a727825b00a48d82008a5504a998eab4ccb8b14a0d540d99ba2ca8f-1",
                                                    "sender": "0xc9e54e6a9f8194a265175528022d4bc72f1343a1",
                                                    "target": "0x7f5c764cbc14f9669b88837ca1490cca17c31607",
                                                    "actualGasCost": "1005023052000000",
                                                    "success": false,
                                                    "revertReason": null,
                                                    "blockTime": "1685137556",
                                                    "paymaster": "0x7e3393eba62da6f555a5341e079e0f6585ce8c56",
                                                    "network": "optimism",
                                                    "userOpHash": "0xfe3ac0162a727825b00a48d82008a5504a998eab4ccb8b14a0d540d99ba2ca8f",
                                                    "input": "0x1fad948c00000000000000000000000000000000000000000000000000000000000000400000000000000000000000003cfdc212769c890907bce93d3d8c2c53de6a7a8900000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000000000020000000000000000000000000c9e54e6a9f8194a265175528022d4bc72f1343a1000000000000000000000000000000000000000000000000000000000000000500000000000000000000000000000000000000000000000000000000000001600000000000000000000000000000000000000000000000000000000000000180000000000000000000000000000000000000000000000000000000000001a758000000000000000000000000000000000000000000000000000000000002f9b80000000000000000000000000000000000000000000000000000000036733fc0000000000000000000000000000000000000000000000000000000000010c8e0000000000000000000000000000000000000000000000000000000000010c8e00000000000000000000000000000000000000000000000000000000000000320000000000000000000000000000000000000000000000000000000000000040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000164f34308ef0000000000000000000000007f5c764cbc14f9669b88837ca1490cca17c31607000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000e000000000000000000000000000000000000000000000000000000000000000000000000000000000000000007e3393eba62da6f555a5341e079e0f6585ce8c560000000000000000000000007f5c764cbc14f9669b88837ca1490cca17c31607000000000000000000000000000000000000000000000000000000000011a1e40000000000000000000000000000000000000000000000000000000000000044a9059cbb000000000000000000000000efcb66b8ff69a15e5cd0141c28f34b8a67fb5a2a00000000000000000000000000000000000000000000000000000000001e8480000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000b07e3393eba62da6f555a5341e079e0f6585ce8c567f5c764cbc14f9669b88837ca1490cca17c31607010000647129390000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000006d42108d701e80edbf05e9464fda72ed866df1cfdd85b653b459ced4c3b9a960c60715ab43fe5ae34211b0bb8b4406bd96faf38b0090e6508456bf64e814d5a1b5d92eea1c000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000041737d5670eba9a9b791d2611e73e117be19f96e158913af94f60ba48c73721a7002299e8a0928fea53e7d529d76d687eef9940bf8b00e4e80aa891178979198481b00000000000000000000000000000000000000000000000000000000000000",
                                                    "nonce": "5",
                                                    "value": "0",
                                                    "callData": "0xa9059cbb000000000000000000000000efcb66b8ff69a15e5cd0141c28f34b8a67fb5a2a00000000000000000000000000000000000000000000000000000000001e8480"
                                                },
                                                {
                                                    "id": "0xb0ec14dc12a04f9433019fc1be1795ed94480898ef9a98e25952979f2e362fef-1",
                                                    "sender": "0xc9e54e6a9f8194a265175528022d4bc72f1343a1",
                                                    "target": "0x7f5c764cbc14f9669b88837ca1490cca17c31607",
                                                    "actualGasCost": "1130650210800000",
                                                    "success": false,
                                                    "revertReason": null,
                                                    "blockTime": "1685137271",
                                                    "paymaster": "0x7e3393eba62da6f555a5341e079e0f6585ce8c56",
                                                    "network": "optimism",
                                                    "userOpHash": "0xb0ec14dc12a04f9433019fc1be1795ed94480898ef9a98e25952979f2e362fef",
                                                    "input": "0x1fad948c00000000000000000000000000000000000000000000000000000000000000400000000000000000000000003cfdc212769c890907bce93d3d8c2c53de6a7a8900000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000000000020000000000000000000000000c9e54e6a9f8194a265175528022d4bc72f1343a1000000000000000000000000000000000000000000000000000000000000000400000000000000000000000000000000000000000000000000000000000001600000000000000000000000000000000000000000000000000000000000000180000000000000000000000000000000000000000000000000000000000001a758000000000000000000000000000000000000000000000000000000000002f9b8000000000000000000000000000000000000000000000000000000003d41e6ec000000000000000000000000000000000000000000000000000000000010c8e0000000000000000000000000000000000000000000000000000000000010c8e00000000000000000000000000000000000000000000000000000000000000320000000000000000000000000000000000000000000000000000000000000040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000164f34308ef0000000000000000000000007f5c764cbc14f9669b88837ca1490cca17c31607000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000e000000000000000000000000000000000000000000000000000000000000000000000000000000000000000007e3393eba62da6f555a5341e079e0f6585ce8c560000000000000000000000007f5c764cbc14f9669b88837ca1490cca17c31607000000000000000000000000000000000000000000000000000000000013d5d30000000000000000000000000000000000000000000000000000000000000044a9059cbb0000000000000000000000008cb2fc744d27b99abe17d24e1a0190a93ef329fb000000000000000000000000000000000000000000000000000000000007a120000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000b07e3393eba62da6f555a5341e079e0f6585ce8c567f5c764cbc14f9669b88837ca1490cca17c316070100006471282b0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000006d42108d9027412ddeba124a683f81d1344bbbbef38e7fa5ebacd7475f1426aa6597d6b268b0227d7a5c832ab963ee804faa40854139ad4a4456a61a668784f67edc4c841c0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000418f61a8beed1ee837a166ae2c3cc70125cf6bbb8020586297251ab169ab0c798441a10b10f8abf975df9a3c75486bbd171379769de7d9c04d286f6bb09b2c6f221c00000000000000000000000000000000000000000000000000000000000000",
                                                    "nonce": "4",
                                                    "value": "0",
                                                    "callData": "0xa9059cbb0000000000000000000000008cb2fc744d27b99abe17d24e1a0190a93ef329fb000000000000000000000000000000000000000000000000000000000007a120"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "502": { "description": "Bad Gateway" },
                    "403": { "description": "Invalid API Key" },
                    "401": { "description": "Unauthorized" },
                    "400": { "description": "Bad Request" },
                    "default": { "description": "Success" }
                },
                "x-amazon-apigateway-integration": {
                    "type": "aws_proxy",
                    "httpMethod": "POST",
                    "uri": "arn:aws:apigateway:us-east-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-2:283541367427:function:test-jiffyscan-GetTopBundlersFunction-GnR4Cz5ox916/invocations",
                    "passthroughBehavior": "when_no_match"
                }
            }
        },
        "/getAddressActivity": {
            "get": {
                "tags": ["Account"],
                "description": "Get all 4337 User Operations for an address",
                "parameters": [
                    {
                        "name": "address",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "network",
                        "description": "Which network to query ?",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "example": "optimism-goerli"
                    },
                    {
                        "name": "first",
                        "in": "query",
                        "description": "How many records to return",
                        "schema": {
                            "type": "string"
                        },
                        "example": "1"
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "How many records to skip",
                        "schema": {
                            "type": "string"
                        },
                        "example": "0"
                    }
                ],
                "security": [
                    {
                        "BasicAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "title": "UserOps",
                                    "description": "An array of user operations that the address was involved in",
                                    "items": {
                                        "$ref": "#/components/schemas/UserOp"
                                    },
                                    "example": {
                                        "userOps": [
                                            {
                                                "verificationGasLimit": "100000",
                                                "userOpHash": "0x1855a982c9a3e1bf45fb07c6fd16cfc5e5063b064a0e10f4a17e569a48d69655",
                                                "transactionHash": "0x72c89fe01ce7c8b106549eba64380ac54ec3239dffdb4d91fb36d9bb3fc90690",
                                                "target": "0xea763fe334a53444671bad44fe0e033ccae4187a",
                                                "accountTarget": { "factory": null },
                                                "success": true,
                                                "signature": "0x495ac3568e3e7426380a01ee5c99f814c3d448e57f192308e31e7cafa84ff607117ee27feaa4f313a1896fa07dcc5e27b71690f17522effd6eb1bbfe978724181b",
                                                "sender": "0x935fdb2cf5e3afec201ae6793912c85ddc9c67d1",
                                                "accountSender": { "factory": "0x54ec360704b2e9e4e6499a732b78094d6d78e37b" },
                                                "revertReason": null,
                                                "preVerificationGas": "48832",
                                                "paymasterAndData": "0xdff7fa1077bce740a6a212b3995990682c0ba66d00000000000000000000000000000000000000000000000000000000645439b80000000000000000000000000000000000000000000000000000000000000000105c448713ca78d1ab4c9e81a8ba342383b1efd92cc44dc90e621f485440eb531795cd43c151471a78ff5ecc40ea08e052b84a5f86f0ec744c302edb6143cf741b",
                                                "paymaster": "0xdff7fa1077bce740a6a212b3995990682c0ba66d",
                                                "nonce": "1",
                                                "network": "optimism-goerli",
                                                "maxPriorityFeePerGas": "1500000000",
                                                "maxFeePerGas": "1500000100",
                                                "input": "0x1fad948c00000000000000000000000000000000000000000000000000000000000000400000000000000000000000004337003fcd2f56de3977ccb806383e9161628d0e00000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000000000020000000000000000000000000935fdb2cf5e3afec201ae6793912c85ddc9c67d1000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000001600000000000000000000000000000000000000000000000000000000000000180000000000000000000000000000000000000000000000000000000000001f78c00000000000000000000000000000000000000000000000000000000000186a0000000000000000000000000000000000000000000000000000000000000bec00000000000000000000000000000000000000000000000000000000059682f640000000000000000000000000000000000000000000000000000000059682f00000000000000000000000000000000000000000000000000000000000000040000000000000000000000000000000000000000000000000000000000000004c000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000244b61d27f6000000000000000000000000ea763fe334a53444671bad44fe0e033ccae4187a0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000006000000000000000000000000000000000000000000000000000000000000001a484bb1e42000000000000000000000000935fdb2cf5e3afec201ae6793912c85ddc9c67d10000000000000000000000000000000000000000000000000000000000000001000000000000000000000000eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000c000000000000000000000000000000000000000000000000000000000000001800000000000000000000000000000000000000000000000000000000000000080ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000eeeeeeeeeeeeeeeeeeeeeeeeeeeee
[...]
